<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>3 column layout</title>
	<link rel="stylesheet" type="text/css" href="style_layout1.css">
</head>
<body>
	<header id="header"><p>header -here the name of the company</p></header>
	<div id="container">
		<main>
			<article>
				<h1>Heading-Projects</h1>		
			</article>
		</main>
		<nav>
			<h3>Project 1</h3>
			<ul>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 1\training1.html">Training 1</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 1\training2.html">Training 2</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 1\training3.html">Training 3</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 1\training4.html">Training 4</a></li>				
			</ul>
			<h3>Project 2</h3>
			<ul>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 2\training1.html">Training 1</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 2\training2.html">Training 2</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 2\training3.html">Training 3</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 2\training4.html">Training 4</a></li>
				<li><a href="C:\Users\SANUS\Desktop\CODEJIKA\PROJECT 2\training5.html">Training 5</a></li>
			</ul>
		</nav>
		<div>
			<h3>this is right heading and will use it latter </h3>
		</div>
	</div>
	<div>
		<footer><p>this is footer</p></footer>
	</div>

</body>
</html>